*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'DM Serif Display', serif;
}

.contactheader{
    width: 100%;
    height: 40px;
    background-color:rgb(30, 97, 90) ;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
body{
    background-color: rgb(244, 241, 241);
}
.contact{
    width: 30%;
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 7%;
}

.contactheader .contact .email{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 10%;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.contactheader .contact .phone{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 1%;
    align-items: center;


}

.contactheader .social{
    width: 10%;
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 7%;
}

.nav{
    width: 100%;
    height: 60px;
    background-color: rgb(36, 116, 108);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.nav .logo{
    width: 17%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.nav .logo img{
    width: 40%;
    height: 50px;
}

.nav .pages{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav .pages a:hover{
    background-color: #888888;
    padding: 2%;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: rgb(36, 116, 108);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
  }
  
  .dropdown-content a {
    color: rgb(12, 11, 11);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .dropdown:hover .dropbtn {
    background-color: #888888;
    text-align: center;
}


.box1{
    margin-top: 3%;
    width: 100%;
    height: 300px;
    background-color: rgb(36, 116, 108);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.box1 .row1{
    font-size: 30px;
    color: #ffffff;
}


.box1 .row2{
    font-size: 15px;
    color: #ffffff;
}

.box1 .inner{
    width: 40%;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.box2{
    background-color: rgb(199, 195, 195);
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.box2 .inner{
    width: 70%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

.box2 .inner .home{
    color: rgb(36, 116, 108);
    
}
.box2 .inner p{
color: red;
}

.box2 .inner .blog{
    color: black;
}

.box3{
    width: 100%;
    height: 3688px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start

}

.box3 .lsection{
    background-color: #ffffff;
    width: 65%;
    height: 3200px;   
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: start;
}

.box3 .lsection .upperbox{
    background-color: #ffffff;
    width: 95%;
    height: 4000px;
    padding: 1%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;   
}

.box3 .lsection .upperbox .upper{
    border: 1px solid rgb(165, 161, 161);
    border-radius: 20px;
    box-shadow: #888888 1px 1px 1px;
}


.box3 .lsection .upperbox .upper img {
    width: 100%;
    height: 530px;
}

.box3 .lsection .upperbox .row1{
    font-size: 30px;
    color: black;
}

.box3 .lsection .upperbox .row2{
    font-size: 14px;
    color: rgb(119, 115, 115);
}

.box3 .lsection .upperbox .info{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.box3 .lsection .upperbox .info2{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.box3 .lsection .upperbox hr{
    width: 90%;
    margin: auto;
}

.box3 .lsection .upperbox .upper{
    height: 2115px;
    padding: 1%;

}

.box3 .lsection .upperbox figure{
    margin-left: 10%;
}

.upper2{
    width: 95%;
    height: 200px;
    border: 1px solid rgb(143, 142, 142);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: #888888 1px 1px 1px;
    margin-top: 2%;
}

.upper2 .person{
    width: 23%;
    height: 80%;
    border-radius: 50%;
}

.upper2 .text{
    width: 60%;
    height: 80%;
    
}

.upper2 .text .icons{
    width: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.upper3{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.upper3 .comment{
    width: 95%;
    height: 177px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: start;
    transition: all 2s;

}

.upper3 .comment:hover{
    transform: scale(1.2);
}


.upper3 .comment img{
    width: 13%;
    height: 40%;
    border-radius: 20px;
}


.upper3 .comment .text{
    height: 150px;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: start;
}

.comment-num{
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    position: relative;
    left: -32%;
}

.rsection{
    width: 20%;
    height: 900px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.rsection .row1{
    font-size: 30px;
    color: black;
}

.rsection .row2{
    font-size: 15px;
    color: gray;
}

.rsection .row2 span{
    font-size: 10px;
    color: rgb(194, 134, 134);
}

.rsection .post{
    width: 100%;
    height: 72px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: start;
}

.rsection .post img{
    width: 30%;
    height: 100%;
}
.rsection .post p{
    width: 60%;

}

.rsection .types {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
}



.rsection .types p{
    width: 26%;
    height: 39px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 34%;
}

.rsection .types p:hover{
    background-color: rgb(30, 116, 108);
    color: white;
}


.footer{
    margin-top: 2%;
    width: 100%;
    height: 450px;
    background-color: #24746c;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

}

.f1 .icons{
    width: 154px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    
}

.f1 .icons a{
    color: rgb(255, 255, 255);
}

.footer .foot a{
    color: white;
    text-decoration: none;
}
.foot{
    width: calc(90% / 6);
    height: 300px;
    color: white;
    margin-top: 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: inherit;
    align-items: flex-start;


}

.f1 img{
    width: 50%;
    height: 30px;
}

.webs{
    height: 53px;
    text-align: center;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -4%;
}

.webs .icons{
    width: 154px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    
}

.webs .icons a{
    color: aquamarine;
}

