body{
    background-image: url(istockphoto-1177485297-2048x2048.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.x{
    background-color: rgba(0, 0, 0, 00.2);
    color:rgb(249, 233, 13) ;
    position: absolute ;
    bottom: 20%;
    right: 5%;
    background-size: 12px 12px;

}