div{
    background-color: rgba(239,239,239,255);
    background-image: url(../img/banner_img_01.jpg);
    background-size: 18%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 2% top 5%;
    color: forestgreen;

}

